absl-py==1.4.0
addict==2.4.0
alabaster==0.7.13
albumentations==1.3.1
antlr4-python3-runtime==4.9.3
anyio
argon2-cffi
asttokens
attrs
Babel==2.12.1
backcall
beautifulsoup4
bleach
boto3==1.26.150
botocore==1.29.150
Brotli==1.0.9
brotlipy==0.7.0
build==0.10.0
cachetools==4.2.4
certifi
cffi
charset-normalizer==3.1.0
click==8.1.3
colorama
coloredlogs==15.0.1
comm
contourpy==1.0.6
coverage==5.3.1
cryptography
cycler==0.11.0
Cython==0.29.35
debugpy
decorator
defusedxml
Deprecated==1.2.14
docutils==0.17.1
e2cnn==0.2.3
einops==0.3.2
entrypoints
executing
fastjsonschema
flatbuffers==23.5.26
fonttools==4.40.0
future==0.18.3
google-auth==2.19.1
google-auth-oauthlib==1.0.0
grpcio==1.54.2
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
imutils==0.5.4
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath==1.0.1
joblib==1.2.0
json-tricks==3.16.1
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet
keyboard==0.13.5
kiwisolver==1.4.4
lazy_loader==0.2
lxml
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
mmcv==2.0.0
mmcv-full==1.7.1
mmdet==2.28.2
mmengine==0.7.4
-e git+https://github.com/open-mmlab/mmrotate.git@04405ab0f0f0c580cc909df15a162de65a9b668a#egg=mmrotate
model-index==0.1.11
mpmath==1.3.0
mutagen==1.46.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.1
ninja==1.11.1
notebook
notebook_shim
numpy==1.23.0
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.0
onnx-simplifier==0.4.31
onnxruntime==1.13.1
opencv-python==4.8.0.74
openmim==0.3.7
ordered-set==4.1.0
packaging
pafy==0.5.5
pandas==2.0.3
pandocfilters
parso
pickleshare
Pillow==9.5.0
pip-tools==6.13.0
pkgutil_resolve_name
platformdirs==3.5.3
ply==3.11
prettytable==3.8.0
progressbar2==3.55.0
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil==5.9.5
pure-eval
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.4
pycparser
pycryptodomex==3.18.0
pyDeprecate==0.3.2
Pygments==2.15.1
pyOpenSSL
pyparsing==2.4.5
pyproject_hooks==1.0.0
PyQt5==5.15.7
PyQt5-sip
pyreadline3==3.4.1
pyrsistent
PySocks
python-dateutil
python-dotenv==1.0.0
python-utils==2.5.6
pytz==2022.7
PyWavelets==1.4.1
pywin32==305.1
pywinpty
PyYAML==6.0
pyzmq
qtconsole
QtPy
qudida==0.0.4
rapidfuzz==3.1.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.1
roboflow==0.1.1
rsa==4.9
s3transfer==0.6.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash
shapely==2.0.1
sip
six
sniffio
snowballstemmer==2.2.0
soupsieve
Sphinx==4.0.3
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data
stringcase==1.2.0
super-gradients==3.1.1
supervision==0.9.0
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
tb-nightly==2.14.0a20230615
tensorboard==2.13.0
tensorboard-data-server==0.7.0
termcolor==1.1.0
terminado
terminaltables==3.1.10
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2
toml
tomli==2.0.1
torch==1.10.1
torchmetrics==0.8.0
torchsummary==1.5.1
torchvision==0.11.2
tornado
tqdm==4.65.0
traitlets
Tree==0.2.4
treelib==1.6.1
typing_extensions==4.6.3
tzdata==2023.3
ultralytics==8.0.115
urllib3==1.26.0
utils==1.0.1
wcwidth
webencodings==0.5.1
websocket-client
websockets==11.0.3
Werkzeug==2.3.6
wget==3.2
widgetsnbextension
win-inet-pton
wrapt==1.15.0
yapf==0.40.0
yt-dlp==2023.3.4
zipp
